:root {
    --main-font: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

label {
    display: block;
}

.container {
    max-width: 1920px;
    padding: 0 160px 0 160px;
}

/* РАЗДЕЛ ШАПКИ САЙТА, НАВИГАЦИЯ, ЛИЧНЫЙ КАБИНЕТ */

.header {
    background-color: #000000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 15px;
}

.logo-img {
    width: 173px;
    height: 40px;
}

.nav {
    display: flex;
}


.nav__list {
    display: flex;
}

.nav__item {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 18px;
    line-height: 24.51px;
    color: #ffffff;
}

.nav__item {
    margin-right: 62px;

}

.nav__link-item {
    transition: 0.2s;
}

.nav__link-item:focus {
    background: #7943A4;
    outline: 1px solid #7943A4;
    outline-offset: 6px;
}

.nav__link-item:hover {
    color: #C283F3;
    transition: 0.2;
}

.nav__link-item:active {
    color: #7943A4;
    outline: none;
    background-color: #000000;
}

.nav__item:nth-child(6) {
    margin-right: 410px;
}

.nav__login {
    position: relative;
    padding-bottom: 5px;
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 24.51px;
    border: none;
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
}


.nav__login-img {
    transition: .2s;
}

.nav__login-img svg {
    transition: .2s;
}

.nav__login-img:hover {
    color: #7943A4;
    transition: .2s;
}

.nav__login-img:hover svg {
    fill: #7943A4;
    transition: .2s;
}

/* Вторая шапка с поиском и навигацией */

.header-second {
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    right: 0;
    left: 0;
}


.nav__list-second {
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav__item-second {
    position: relative; 
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.nav__item-second:not(:nth-child(5)) {
    margin-right: 111px;
}

.nav__item-second:nth-child(5) {
    margin-right: 350px;
} 

.nav__link-row {
    position: absolute;
    right: -15px;
}


.nav__link-second {
    transition: 0.2s;
}

.nav__link-second:hover {
    color: #7943A4;
    transition: 0.2s;
}

.nav__link-second svg {
    fill: none;
    stroke: white;
    transition: .2s;
}

.nav__link-second:hover svg {
    stroke: #7943A4;
    transition: .2s;
}

.nav__link-second:active svg {
    stroke: #C283F3;
    transition: .2s;
}

.nav__link-second:active {
    color: #C283F3;
}

.search__input {
    background: none;
    border: none;
    border-bottom: 1px solid #ffffff;
}

.search__input:focus {
    outline: none;
}

.search__form {
    position: relative;
}

.search__form::before {
    content: url(/img/search.svg);
    position: absolute;
    bottom: 2px;
    left: -30px;
    height: 20px;
    width: 20px;
    
}

.search__input[placeholder] {
    font-family: var(--main-font);
    font-size: 18px;
    line-height: 24.51px;
    font-weight: 400;
    color: #ffffff;
}


/* БЛОК HERO, TITLE, ССЫЛКА В КОНЕЦ СТРАНИЦЫ ДЛЯ ПОДПИСКИ */

.hero__container {
    background-image: url(/img/birmingham.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero__title {
    font-family: var(--main-font);
    font-size: 72px;
    line-height: 82.8px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
    margin-bottom: 15px;
}

.hero__text {
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: #ffffff;
}

.hero__link-btn {
    display: inline-block;
    padding: 20px 30px 20px 30px;
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 700;
    line-height: 24.5px;
    border-radius: 100px;
    background-color: #9D5CD0;
    text-align: center;
}

.hero__link-btn:hover {
    outline: 3px solid #D1A9F0;

}

.hero__link-btn:focus {
    outline-offset: 2px;
    outline:2px solid #C283F3;
}

.hero__link-btn:active {
    background-color: #7943A4;
    outline: 3px solid #D1A9F0;
    outline-offset: 0;
}

.hero-block {
    padding-top: 140px;
    padding-right: 1000px;
    padding-bottom: 122px;
}

.hero__text {
    margin-bottom: 92px;
}

.hero__section {
    margin-bottom: 80px;
}

/* -----    Блок "О нас" ------ */

.container__about-us {
    padding-right: 670px;
}

.about-us__title {
    font-family: var(--main-font);
    font-size: 48px;
    font-weight: 400;
    line-height: 65px;
    color: #333333;
    margin-top: 0;
    margin-bottom: 16px;
}

.about-us__text {
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #333333;
    margin-bottom: 0;
}

.about-us {
    margin-bottom: 80px;
}


/* ---- Секция с Галереей ---- */

.gallery__container {
    background-image: url(/img/gallery.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.gallery__list {
    display: flex;
    margin: 0;
}

.gallery__image {
    margin-right: 50px;
}

.gallery__item-image {
    display: flex;
}

.gallery__item-title {
    color: #ffffff;
    margin: 0;
}

.gallery__item-filter {
    color: #ffffff;
    margin: 0;
}

label {
    color: #ffffff;
}

.gallery__image-first {
    background-image: url(/img/gallery_image1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 350px;
}

.gallery__image-second {
    background-image: url(/img/gallery_image2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 350px;
}

.gallery__image-third {
    background-image: url(/img/gallery_image3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 350px;
}